html {
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  background: #41295a;
  background: -webkit-linear-gradient(to right, #41295a, #2f0743);
  background: linear-gradient(to right, #41295a, #2f0743);

  min-height: 100vh;

  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; */
}

#params {
  /* display: grid; */
  overflow: auto;
}

#param {
  word-wrap: break-word;
}
